.form-register,
.form {
    margin-bottom: 2rem;
}

.form-register.small .form-input,
.form-register.small .form-label {
    width: 20rem;
}

.form-input {
    width: 24rem;
    margin: 0 auto;
    font-size: 1.25rem;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    margin-bottom: 1.4rem;
}

.form-input.password {
    margin-bottom: 0.25rem;
}

.form-input {
    outline: none;
}

.form-input:not(select):focus {
    box-shadow: 0 0 0 3px blue;
}

.form-input:not(select):focus:valid {
    box-shadow: 0 0 0 3px green;
}

.form-input:first-of-type {
    margin-top: 1rem;
}

.form-label {
    width: 24rem;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 2rem;
    display: block;
}

.form-meter {
    font-size: 1.75rem;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    display: block;
}

.check-input {
    margin-right: 5px;
}

select.form-input {
	line-height: 1.3;
	padding: 0.6em 1.4em 0.5em 0.8em;
    margin-bottom: 1rem;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('../assets/img/icons/select.png');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: 1em auto, 100%;
}

select.form-input::-ms-expand {
	display: none;
}
